<launch>
  
  <include file = "$(find pkg_techfest_imc)/launch/gazebo.launch" />

  <include file = "$(find pkg_techfest_imc)/launch/rviz.launch" />
  
  <!-- Arguments -->
  <arg name="map_file" default="$(find pkg_techfest_imc)/maps/my_map.yaml"/>
  

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find pkg_techfest_imc)/launch/amcl.launch"/>
  
  
</launch>